@charset "UTF-8";

body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin-left: 150px;
	margin-right: 150px;
}

a {
	color: inherit;
}

header {
	background-color: white;
	color: black;
}

header img {
	display: block;
	float: right;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline;
}

table tr:nth-child(odd) {
	background-color: grey;
}

table tr:nth-child(even) {
	background-color: white;
}

label {
	display: block;
}

span.value {
	font-weight: bold;
}

footer {
	background-color: grey;
	color: white;
}