@charset "UTF-8";

body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin-left: 150px;
	margin-right: 150px;
}

/* HEADER *************************************************************************************************************/
header img {
	display: block;
	float: right;
}

header li {
	display: inline;
}

/* SECTION ************************************************************************************************************/
section {
	margin-top: 100px;
	margin-bottom: 100px;
}

table {
	width: 100%;
}

table tr:nth-child(odd) {
	background-color: grey;
}

table tr:nth-child(even) {
	background-color: white;
}

label {
	display: block;
}

span.value {
	font-weight: bold;
}

/* CLEARFIX ***********************************************************************************************************/
.clearFix:before, .clearFix:after {
	content: " ";
	display: table;
}

.clearFix:after {
	clear: both;
}

/* enkel voor IE6/7 */
.clearFix {
	*zoom: 1;
}