@charset "UTF-8";

body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin-left: 150px;
	margin-right: 150px;
}

a {
	color: inherit;
}

header {
	background-color: white;
	color: black;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline;
}

table.zebra tr:nth-child(odd) {
	background-color: grey;
}

table.zebra tr:nth-child(even) {
	background-color: white;
}

label, input {
	display: block;
}

footer {
	background-color: grey;
	color: white;
}